<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout a Book</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home.html">Library System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/SearchBooks}">Search for Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/ReturnBooks}">Return for Books</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/RequestBooks}">Request for Books</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Checkout Books</h1>
    <form action="/checkout-book" method="post" class="row">
        <div class="form-group col-md-6">
            <label for="book-title">Book Title</label>
            <input type="text" class="form-control" id="book-title" name="bookTitle" placeholder="Enter book title" required>
        </div>
        <div class="form-group col-md-6">
            <label for="author-name">Author Name</label>
            <input type="text" class="form-control" id="author-name" name="authorName" placeholder="Enter author name" required>
        </div>
        <div class="form-group col-md-6">
            <label for="borrower-name">Borrower Name</label>
            <input type="text" class="form-control" id="borrower-name" name="borrowerName" placeholder="Enter borrower name" required>
        </div>
        <div class="form-group col-md-6">
            <label for="borrower-id">Borrower ID</label>
            <input type="text" class="form-control" id="borrower-id" name="borrowerID" placeholder="Enter borrower ID" required>
        </div>
        <button type="submit" class="btn btn-primary">Checkout</button>
    </form>
</div>

<div>
    <div class="text-center" style="height: 75%" style="width: 75%">
        <img th:src="@{Images/checkout.png}">
    </div>
</div>

<!-- Add the Bootstrap JS and jQuery CDN -->
<!-- Bootstrap JS -->
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js}"></script>
</body>
</html>
